* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: url('./green-grass-summer-gazon-fon-trava-zelenaia.jpg')
}

.excel {
    width: 5%;
    height: 5%;
    padding: 0;
}

.bomb {
    background: url('./bomb_PNG41.png');
    background-size: cover;
}

.snakeBody {
    background: url('./shMHJPZozm.jpg');
    background-size: cover;
    border-radius: 50%;
}

.head {
    background: url('./head_snake.png');
    background-size: cover;
    border-radius: 10%;
}

.mouse {
    background: url('./PNGPIX-COM-Dinosaur-PNG-Transparent-Image.png');
    background-size: cover;
}